<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:component-scan base-package="com.insurance"/>
    <mvc:annotation-driven/>

    <!-- Bean Declaration for PolicyValidator -->
    <bean id="policyValidator" class="com.insurance.validators.PolicyValidator"/>

</beans>